
#login_form {
  background-color: lightgrey;
  padding-bottom: 50px;

}
main {
  background-color: lightgrey;
}
#Log_In {
  color: Black;
}

@media screen and (max-width: 900px) and (min-width: 00px), (min-width: 000px) {
  body {
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    justify-items: center;
    align-items: center;
    background-color: white;
  }
}
